<% layout('/layouts/boilerPlate')%>

<form action="/events" method="POST">
    <!-- <input type="text" name="name" placeholder="Event name" required /> -->
    <button class="btn btn-dark " style="margin-top: 10px;" type="submit">Event Creator</button>
   
  </form>